body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif, sans-serif;
  color: #757575;
  margin: 0;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.speciality__container {
  min-width: 320px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header .header__container {
  min-width: 320px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: #212121;
  text-decoration: none;
  display: block;
  margin-right: 46px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.nav__link--active {
  color: #2196f3;
  position: relative;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--active::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header__icon--left {
  margin-right: 10px;
  color: #757575;
  fill: #757575;
}
.header__icon--left .header__icon {
  width: 16px;
  height: 12px;
}
.header__link > .header__icon--left {
  display: inline-block;
  vertical-align: middle;
}

.header__icon--right {
  margin-right: 10px;
  color: #757575;
  fill: #757575;
}
.header__icon--right .header__icon {
  width: 10px;
  height: 16px;
}
.header__link > .header__icon--right {
  display: inline-block;
  vertical-align: middle;
}

.header__link:hover .header__icon,
.header__link:focus .header__icon {
  color: #2196f3;
  fill: #2196f3;
}

.header__contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: #2196f3;
}

@media (max-width: 767px) {
  .nav,
.header__contact-links {
    display: none;
  }
}
@media (min-width: 768px) {
  .header .header__container {
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .header__contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #2196f3;
    gap: 50px;
  }
}
.mobile-menu__link {
  color: inherit;
  text-decoration: none;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: #2196f3;
  background-color: transparent;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.menu-toggle:hover, .menu-toggle:focus {
  background-color: transparent;
}

.menu-toggle__icon {
  width: 24px;
  height: 16px;
}
.menu-toggle__icon:hover, .menu-toggle__icon:focus {
  color: #2196f3;
  fill: #2196f3;
}

.menu-toggle__icon--close {
  width: 18.67px;
  height: 18.67px;
}
.menu-toggle__icon--close:hover, .menu-toggle__icon--close:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  letter-spacing: 0.02em;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172;
  color: #212121;
  text-decoration: none;
  padding-bottom: 36px;
}

.mobile-menu .mobile-menu__link--blue {
  color: #2196f3;
}

.mobile-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mobile-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.172;
  color: #2196f3;
  text-decoration: none;
}
.mobile-contacts__link:last-of-type {
  font-size: 24px;
  color: #757575;
}

.mobile-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 357px;
}

.mobile-socials__link, .mobile-socials__link--no-border {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  color: #2196f3;
  text-decoration: none;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mobile-socials__link--no-border {
  border: none;
  padding: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
  text-decoration: none;
  margin-right: 93px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}

.header__logo {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover .header__logo, .logo:focus .header__logo, .header__logo:hover, .header__logo:focus {
  color: #2196f3;
  fill: #2196f3;
}

.footer__logo {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover .footer__logo, .logo:focus .footer__logo, .footer__logo:hover, .footer__logo:focus {
  color: #2196f3;
  fill: #2196f3;
}

.slider {
  background-color: #2f303a;
}
.slider .slider__image {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/main/slider@1x.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(/images/main/slider@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slider .box {
    background-image: url(/images/main/slider@2x.jpg);
  }
}

.slider .slider__container {
  min-width: 320px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 118px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  color: #ffffff;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .slider .slider__image {
    height: 600px;
  }
  .slider__container {
    height: 100%;
  }
  .slider__heading {
    font-size: 44px;
    line-height: 1.363;
  }
}
.button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  background-color: #2196f3;
  border-style: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  cursor: pointer;
  background-color: #1580d7;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.strenghts {
  padding: 60px 0;
}

.strenghts__container {
  min-width: 320px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}

.strenghts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.strenghts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.strenghts__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  padding: 25px 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.strenghts__icon {
  width: 70px;
  height: 70px;
}

.strenghts__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

.strenghts__description {
  font-size: 14px;
  line-height: 1.714;
}

@media (min-width: 768px) {
  .strenghts {
    padding: 60px 0 45px;
  }
  .strenghts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .strenghts__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .strenghts__title {
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .strenghts {
    padding: 94px 0;
  }
  .strenghts__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.speciality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.speciality--no-top-space {
  padding-top: 0;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.gallery__thumb {
  position: relative;
}

.gallery__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 1;
}
.gallery__thumb > .gallery__title {
  position: absolute;
  bottom: 0;
}

@media (max-width: 1199px) {
  .speciality {
    display: none;
  }
}
.team {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 60px 0;
}
.team__container {
  min-width: 320px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 30px;
}

.team__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__figure {
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.team__caption {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 18px;
  background-color: #ffffff;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: #212121;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.187;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.figure {
  margin: 0;
}
.grid__list .figure {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.grid__item .figure {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.grid__item .figure:hover, .grid__item .figure:focus {
  cursor: pointer;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 56px;
  margin: 0 auto;
}
.footer__socials > .social-links {
  margin: 0;
  width: 206px;
  height: 44px;
}

.social-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  fill: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__item:hover, .social-links__item:focus {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  fill: #ffffff;
}

.social-links__icon {
  width: 20px;
  height: 20px;
}

.footer .social-links__item {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-links__item:hover, .footer .social-links__item:focus {
  background-color: #2196f3;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 60px 0;
}
.clients__container {
  min-width: 320px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}
.clients .title {
  margin-bottom: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  max-width: 100%;
  min-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  fill: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover, .clients__item:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
  color: #2196f3;
  fill: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60.04px;
}

@media (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 94px 0;
  }
  .clients__icon {
    width: 100%;
  }
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.subpage__container {
  min-width: 320px;
  max-width: 768px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  row-gap: 15px;
  -ms-flex-preferred-size: calc((100% - 16px) / 3);
      flex-basis: calc((100% - 16px) / 3);
  padding: 60px 0 40px;
}

.filters__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border-style: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .filters {
    padding: 60px 0 30px;
  }
}
.grid {
  padding-bottom: 60px;
}
.grid__container {
  min-width: 320px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}

.grid__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.grid__figcaption {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.grid__image {
  position: relative;
  overflow: hidden;
}

.grid__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}
.grid__image:hover .grid__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.grid__overlay > p {
  color: #ffffff;
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

.grid__project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.grid__project-type {
  font-size: 16px;
  line-height: 1.875;
}

@media (min-width: 768px) {
  .grid__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .grid__figcaption {
    padding: 20px;
  }
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
  color: #ffffff;
}
.footer__container {
  min-width: 320px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  text-align: center;
}

.footer__alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__address {
  font-size: 14px;
  line-height: 1.714;
  font-style: normal;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 246px;
  height: 79px;
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.footer__socials {
  width: 206px;
}

.footer__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__newsletter {
  width: 100%;
}

.footer-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.footer-form__row .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding: 15px 15px 16px;
  background-color: #2f303a;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}
.footer-form__input .footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input .footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input .footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input .footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input .footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.button__img {
  width: 24px;
  height: 24px;
}

.button__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

@media (min-width: 768px) {
  .footer__alignment {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-form__input {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__alignment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
  }
  .footer__socials {
    padding-top: 12px;
  }
  .footer__newsletter {
    text-align: start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 12px;
  }
  .footer-form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
  .footer-form__row.button {
    width: 200px;
  }
  .footer-form__input {
    max-width: 358px;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 450px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: initial;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.inputs__text-style {
  font-size: 12px;
  line-height: 1.172;
  color: #757575;
  letter-spacing: 0.01em;
}

.close-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  border-color: #2196f3;
}

.close-button__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-button__icon, .close-button:focus .close-button__icon {
  fill: #2196f3;
}

.modal-box__title {
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.inputs__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.inputs__field {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs__label:hover .inputs__field, .inputs__label:focus .inputs__field, .inputs__field.inputs__comment:hover, .inputs__field.inputs__comment:focus {
  border-color: #2196f3;
}

.inputs__comment {
  margin-bottom: 0;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.inputs__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs__label:hover .inputs__icon, .inputs__label:focus .inputs__icon {
  fill: #2196f3;
}

.inputs__field.inputs__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs__field.inputs__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs__field.inputs__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs__field.inputs__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.inputs__field.inputs__comment::placeholder {
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox__label {
  font-size: 12px;
  line-height: 1.172;
  color: #757575;
}

.checkbox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox__text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z' fill='%23212121'/%3E%3C/svg%3E");
}

.checkbox__link {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__link:hover, .checkbox__link:focus {
  color: #006ec7;
}

.checkbox__link--left {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.checkbox__link--right {
  margin-left: 0.3em;
}

.checkbox__input:checked + .checkbox__text::before {
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}/*# sourceMappingURL=main.css.map */