%container {
  min-width: 320px;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

// %container {
//   max-width: 1200px;
//   min-width: 320px;
//   display: inline-block;
//   margin: 0 auto;
// }