.footer {
  background-color: $background-black;
  padding: 60px 0;
  color: $white;

  &__container {
    @include container (1200px);
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
  }

}

.footer__alignment{
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

}

.footer__address {
  font-size: 14px;
  line-height: 1.714;
  font-style: normal;
  color: $white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  width: 246px;
  height: 79px;

}


.footer__link {
  text-decoration: none;
  color: $white-transparent;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $blue;
    fill: $blue;
  }

}

.footer__socials {
  width: 206px;
}

.footer__title {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  margin-bottom: 20px;
  color: $white;
  text-transform: uppercase;
}

.footer__newsletter {
  width: 100%;
}

.footer-form__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  & .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding: 15px 15px 16px;
  background-color: $background-black;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;

  .footer-form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: $white-transparent;
  }

}

.button__img {
  @include buttonImg (24px, 24px);
}

.button__icon {
  @include buttonImg (24px, 24px);
  fill: $white;
}

// TABLET STYLE

@media (min-width: 768px){

  .footer__alignment{
    width: 100%;
    display: flex;
   justify-content: space-around;
  }

.footer-form__input {
  max-width: 450px;

  }
  
  }

 // DESKTOP STYLE

 @media (min-width: 1200px){
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__alignment {
    flex-direction: row;
    // justify-content: space-between;
    align-items: flex-start;
    text-align: start;

  }

 .footer__socials {
    padding-top: 12px;
  }

.footer__newsletter {
text-align: start;
align-self: flex-start;
padding-top: 12px;

}

  .footer-form__row {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }


.footer-form__input {

  width: 358px;
}

  }