
  .mobile-menu__link {
    color: inherit;
    text-decoration: none;
  }
  

  .mobile-menu__link:hover,
  .mobile-menu__link:focus {
    color: $blue;
    background-color: transparent;
  }
  
  .menu-toggle {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus{

      background-color: transparent;
    }
  }
  
  .menu-toggle__icon {
    width: 24px;
    height: 16px;
  
    &:hover,
    &:focus {
      color: $blue;
      fill: $blue;
    }
  }
  
  .menu-toggle__icon--close {
    width: 18.67px;
    height: 18.67px;
  
    &:hover,
    &:focus {
      color: $blue;
      fill: $blue;
    }
  }

  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
    
  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 0 60px 40px;
    background-color: $white;
    z-index: 999;
    letter-spacing: 0.02em;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    }

  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color:$black;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .mobile-menu__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.172;
    color: $black;
    text-decoration: none;
    padding-bottom: 36px;

  }

.mobile-menu .mobile-menu__link--blue{
    color: $blue;
}

.mobile-contacts{
  display: flex;
  flex-direction: column;
 gap: 32px;

 &__link{
  font-weight: 500;
    font-size: 34px;
    line-height: 1.172;
    color: $blue;
    text-decoration: none;
 }

 &__link:last-of-type{
  font-size: 24px;
  color: $gray;
 }
}

.mobile-socials__list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  

}

.mobile-socials__link{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  color: $blue;
  text-decoration: none;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 10px;

&--no-padding{
    @extend .mobile-socials__link;
    padding-left: 0;
  }


  &--no-border{
    @extend .mobile-socials__link;
    border: none;
    
  }

}

