.slider {
  background-color: $background-black;

  & .slider__image {
    margin: 0 auto;
    max-width: 1600px;
    padding: 118px 58px 57px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: linear-gradient(0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%),
      url(/./images/main/slider-mobile@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url(/./images/main/slider-mobile@2x.jpg);
  }
}

}

.slider .slider__container {
  @include container (768px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  color: $white;
  margin-bottom: 30px;

}



// .slider {
//   background-color: $background-black;

//   & .slider__image {
//     margin: 0 auto;
//     width: 1600px;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-image: linear-gradient(0deg,
//         rgba(47, 48, 58, 0.4) 0%,
//         rgba(47, 48, 58, 0.4) 100%),
//       url(../images/main/slider@1x.jpg);
//   }

// }

// .slider .slider__container {
//   @extend %container;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .slider__heading {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//font-weight: 900;
//   font-size: 44px;
//   line-height: 1.363;
//   color: $white;
//   margin-bottom: 30px;

// }