.slider {
  background-color: $background-black;

  & .slider__image {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1600px;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%),
      url(../images/main/slider@1x.jpg);
      
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url(../images/main/slider@2x.jpg);
  }
}

}

.slider .slider__container {
  @include container (1200px);
  padding: 118px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  color: $white;
  margin-bottom: 30px;

}

// DESKTOP STYLE

@media (min-width: 1200px){

  .slider .slider__image {
  height: 600px;

  }

  .slider__container{
height: 100%;

  }

  .slider__heading{
    font-size: 44px;
    line-height: 1.363;

  }

}