.strenghts {
  padding: 60px 0;
}

.strenghts__container {
  @extend %container;
}

.strenghts__list {
  display: flex;
 flex-direction: column;
 align-items: center;
 gap: 30px;
}

.strenghts__item {
  display: inline-block;

}

.strenghts__image {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: $background-white;
  margin: 0 auto 30px;
}

.strenghts__icon {
  width: 70px;
  height: 70px;
}

.strenghts__title {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  color: $black;
  margin-bottom: 10px;
}

.strenghts__description {
  font-size: 14px;
  line-height: 1.714;
}


// .strenghts {
//   @extend %block-spacing;
// }

// .strenghts__container {
//   @extend %container;
// }

// .strenghts__list {
//   display: flex;
//   justify-content: space-between;
//   gap: 30px;
//   height: 251px;
// }

// .strenghts__item {
//   display: inline-block;
//   width: 270px;
//   height: 101px;
// }

// .strenghts__image {
//   width: 270px;
//   height: 120px;
//   padding: 25px 100px;
//   background-color: $background-white;
//   margin-bottom: 30px;
// }

// .strenghts__icon {
//   width: 70px;
//   height: 70px;
// }

// .strenghts__title {
//   font-family: $font-primary;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.142;
//   color: $black;
//   margin-bottom: 10px;
// }

// .strenghts__description {
//   font-size: 14px;
//   line-height: 1.714;
// }