.strenghts {
  padding: 60px 0;
}

.strenghts__container {
  @include container (1200px);
  padding: 0 15px;
}

.strenghts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.strenghts__item {
  display: flex;
  flex-direction: column;

}

.strenghts__image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 25px 100px;
  background-color: $background-white;
  margin-bottom: 30px;
}

.strenghts__icon {
  width: 70px;
  height: 70px;
}

.strenghts__title {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  color: $black;
  margin-bottom: 10px;
  text-align: center;
}

.strenghts__description {
  font-size: 14px;
  line-height: 1.714;
}

// TABLET STYLE

@media (min-width: 768px){

  .strenghts {
    padding: 60px 0 45px;
  }

&__list{
 flex-direction: row;
 flex-wrap: wrap;
 
}

&__item{
  flex-wrap: wrap;
   flex-basis: calc((100% - 30px) / 2);
}

&__title{
  text-align: start;
}
  }
