@mixin container ($max-width){
    min-width: 320px;
    max-width: $max-width;
    display: block;
    margin: 0 auto;
  }

 @mixin block-spacing ($padding) {
    display: flex;
    margin: 0 auto;
    padding: $padding;
  }

@mixin buttonImg ($width, $height) {
    width: $width;
    height: $height;
}
