$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway", sans-serif;
$gray: #757575;
$black: #212121;
$blue: #2196f3;
$white: #ffffff;
$icon-gray: #afb1b8;
$white-transparent: rgba(255, 255, 255, 0.6);
$background-black: #2f303a;
$background-white: #f5f4fa;